---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
	<h1>Blog</h1>
  <h2>ここはブログページ</h2>
  <p>いろんな</p>
  <ul>
    <li><a href="/posts/post-1">記事１</a></li>
    <li><a href="/posts/post-2">記事2</a></li>
    <li><a href="/posts/post-3">記事3</a></li>
  </ul>
</Layout>
